.profile {
    background-color: #ffc85b28;
    border-radius: 10px;
    padding: 20px 154px;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  body {
    background-color: #ffc85b28;
  }
  
  .profile-left {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .left1 {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 0 10px;
  }
  
  .left1 p {
    font-size: 25px;
  }
  
  .left1:hover {
    background-color: #f5f5f5;
  }
  
  .profile-right {
    width: 70%;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
  }
  
  .change-avt {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #changeAvt {
    padding: 10px;
    border: transparent;
    border-radius: 8px;
    background-color: gold;
    font-size: 20px;
  }
  #changeAvt:hover {
    background-color: goldenrod;
  }
  
  .profile-avt {
    height: 300px;
    width: 300px;
    border-radius: 14px;
  }
  
  .profile-form {
    width: 60%;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 10px;
  }
  
  .form1 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile-form .form1 h2 {
    font-weight: 500;
  }
  
  .form-button {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
  }
  
  .changePass {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: gold;
    border: rgb(117, 194, 2);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  #changePass:hover {
    background-color: goldenrod;
  }
  
  #submitForm {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(0, 96, 221);
    border: rgb(2, 85, 194);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  #submitForm:hover {
    background-color: rgb(2, 81, 184);
  }
  
  /* -----------thông tin thay đổi */
  .changeInfoInput {
    height: 400px;
    width: 400px;
    background-color: red;
    position: absolute;
  }
  
  /* footer----------------------- */
  .footer {
    padding: 60px 154px 60px 154px;
    background-color: #eefd4b;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer .footer-content {
    display: flex;
    gap: 100px;
    margin-bottom: 60px;
  }
  
  .footer .footer-content .footer-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  
  .footer-content .footer-left p {
    color: black;
  }
  
  .footer-content .footer-left .footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
  }
  
  .footer-content .footer-left .flogo-list {
    margin-top: -20px;
    font-size: 40px;
    display: flex;
    gap: 10px;
    color: black;
  }
  
  .footer-content .footer-right {
    width: 50%;
  }
  
  .footer-right .ftable {
    width: 100%;
  }
  
  .ftable .ftable-items .ftable-item {
    padding: 20px;
    text-align: center;
    color: black;
  }
  
  .ftable .ftable-items {
    color: black;
  }
  
  .footer .end {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  